{% load static %}
<!-- allows access to the fiels in the static package -->
<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="{% static "comic.css" %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="content-main">
<img style="width: 800px;" src="{% static comic_url %}">
<form id="buttonform">
    <button formaction="{{ previous_url }}" id="previousbutton">previous</button>
    <button formaction="{{ next_url }}" id="nextbutton">next</button>
</form>
<form method="POST" id="inputform">
    <div>
        <input name="username" type="text" placeholder="user" class="comicinput">
        <textarea name="comment_area" placeholder="comment" class="comicinput"></textarea>
    </div>
    <button>POST</button>
</form>
</div>
<table>
{% for o in comments %}
    <tr class="">
    <td>

        {{ o.user }}: "{{ o.text }}"
    </td>
    </tr>
{% endfor %}
</table>


</body>
</html>