{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<a href="{{ previous_url }}">PREVIOUS</a>
<img style="width: 800px;" src="{% static comic_url %}">

<a href="{{ next_url }}">NEXT</a>

<form method="POST">
    <input name="username" type="text" placeholder="user">
    <textarea name="comment_area" placeholder="comment"></textarea>
    <button onclick="saveComment(event)">SAVE</button>
</form>
<table>
{% for o in comments %}
    <tr class="">
    <td>

        {{ o.user }}
        :
       {{ o.text }}
    </td>
    </tr>
{% endfor %}
</table>

</body>
</html>