{% load static %}
<!-- allows access to the fiels in the static package -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
     <link rel="stylesheet" href="{% static "styles/comic.css" %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="jumbotron">
    <div class="login" >
        {% if user.is_authenticated %}

            <a href="/logout">Log out</a>
        {% else %}
            <a href="/signup">Sign Up</a>
            <a href="/login">Log in</a>
        {% endif %}
    </div>

  <h1 class="display-4">Byte sized doodles</h1>
  <p class="lead">The tapas of geeky amateur comics</p>
    {{ name }}


</div>
<div id="content-main">

<img style="width: 800px;" src="{% static "comics/" %}{{ comic_id }}.jpg">
<form id="buttonform">
    <button formaction="{{ previous_url }}" id="previousbutton">previous</button>
    <button formaction="{{ next_url }}" id="nextbutton">next</button>
</form>
<form method="POST" id="inputform">
    <div>
        {% if not user.is_authenticated %}
            <input name="username" type="text" placeholder="user" class="comicinput">
        {% endif %}

        <textarea name="comment_area" placeholder="comment" class="comicinput"></textarea>
    </div>
    <button>POST</button>
</form>
</div>
<table>
{% for o in comments %}
    <tr class="">
    <td>

        {{ o.user }}: "{{ o.text }}"
    </td>
    </tr>
{% endfor %}
</table>


</body>
</html>