{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV</title>
    <link rel="stylesheet" href="{% static "CV.css" %}">
</head>
<body>
<h1>Madeleine E. K. Harbom Rudkjøbing</h1>
<p><i>Adress: </i>Saltværksvej 149, 2770 Kastrup, Denmark</p>
<p><i>Phone: </i>(0045) 60653173</p>
<p><i>email: </i>madeleine.harbom@gmail.com</p>

<h1>About me</h1>
<div>
    <p>I am creative and passionate as a developer and as a person. I love a challenge and will not shy away from a task. I have an independent personality but believe heavily in the importance of seeking help when needed and that a productive talk can save hours. When the debugger can’t get you further, the rubber duck always helps!</p>
    <p>I am good at keeping busy and finding work when my backlog is running low.</p>
    <p>I strive to write readable code and am always happy to get input about improvements. I love to learn and gladly put my ego aside to become better, both professionally and personally.</p>
    <p>My love for coding started hesitantly. Friends had been telling me for years that I’d be good at it, but I wasn’t interested. One day I picked up a book on python, and I was hooked. I spent most of my free time studying. Soon I discovered I had a knack for it and decided to make a career out of it.</p>
    <p>I just finished my education and am eager to start my career, so I can continue growing my skills.</p>
    <p>Being new to the job market, I can’t offer much in terms of experience, but I compensate with passion for the craft. I am enthusiastic about learning new technologies and mastering the ones I know. Given the chance, I love to nerd down into a tech and gain a deep understanding of it.</p>
    <p>I am solution oriented and product focused, with experience in agile development, both from my education and my private projects.</p>
    <p>n my spare time I enjoy reading, both tech and fiction, and writing my own small projects to try out a new technology or just see where an idea takes me. Recreationally, I enjoy running, taking long walks with my husband and dogs, or play board- and computer games with my friends.</p>
    <p>I was born and raised in Sweden but got my AP in Computer Science in Aarhus, Denmark. I am comfortable working, talking and writing in danish.</p>
</div>

<h1>Education</h1>
<h2>Formal education</h2>
<h3>Datamatikker , Aarhus Erhvervsakademi</h3>
Completed January 2021
<ul>
    <li>Programmering 1 & 2</li>
	<li>Systemudvikling 1 & 2</li>
	<li>Forretning og IT 1 & 2</li>
	<li>Systemudviklingsmetoder</li>
	<li>Databaser og Operativsystemer</li>
	<li>Distribueret Programmering</li>
	<li>Distribution, integration og sikkerhed</li>
	<li>Cloud Computing</li>
	<li>Algorithmer</li>
	<li>iOS</li>
	<li>Praktik</li>
	<li>Afsluttende eksamensprojekt</li>
</ul>


<h2>Informal education</h2>
<div>
    <h3>Invent your own computer games with python – Al Sweigart</h3>
	The book that got me to start coding and subsequently persue it as a career
    <h3>Web Developer Bootcamp – Colt Steele</h3>
	Hobby learning to get a better understanding of frontend
    <h3>Complete Guide to Elasticsearch – Bo Andersen</h3>
	Basic knowledge of elasticsearch used for my final project
    <h3>Elasticsearch: The Definitive Guide – Gomley & Tong</h3>
	In depth knowledge of elasticsearch
</div>

<h1>Internship at UNSILO (Cactus Communications)</h1>
August – December 2020
<h3>Corpus Merger</h3>
<p>A project, written in Java, working on very large data sets in S3. It extracted metadata from different formats of scientific articles and put it into bundles of JSON objects. To do this I utilized xPath.</p>

<h3>Affiliation Disambiguation</h3>
<p>A program which took affiliation declaration from publishers, matched them with an organization and gave them a unique research organization registry ID. The program, which is written in java, uses algorithms to preprocess the input strings and create queries, which are sent to elasticsearch. On return it sorts the results, estimating the chances of the match being good or bad. If it is bad, the program attempts the preprocessing and querying again, in a different way.</p>
<p>The end result is a JSON object, with the ID and how certain the program is of it being correct.</p>
<p>It was great fun researching for it and playing around with solutions, and I gladly talk about it in further detail with anyone who cares to listen.</p>

<h1>Skills</h1>
<h3>Feel very comfortable with</h3>
<ul>
    <li>Java</li>
    <li>Python</li>
    <li>SQL</li>
    <li>Elasticsearch</li>
    <li>Object Oriented Programming</li>
    <li>Git</li>
    <li>Heroku</li>
    <li>Dockerv
    <li>SCRUM / XP / Kanban / SCRUMban</li>
    <li>REST</li>
    <li>JSP</li>
    <li>Most JetBrains IDEs, as well as TablePlus, Eclipse and others</li>
    <li>Node.js</li>
    <li>BASH</li>
    <li>Test Driven Development</li>
</ul>


<h3>Quite familiar with</h3>
<ul>
    <li>Node.js</li>
    <li>JavaScript</li>
    <li>HTML and CSS</li>
    <li>Node.js  + express</li>
    <li>Most JetBrains IDEs + TablePlus, Eclipse and mode</li>
    <li>Gradle and Maven</li>
</ul>


<h1>Personal projects</h1>
<h3>www.bytesized.dk</h3>
A simple Heroku hosted website I made to host my doodles and try out Django

<h3>Adventure game in python</h3>
A text-based dungeon crawler

<h1>References</h1>
Contact information to references given on request

<h1>Links</h1>
<a href="https://github.com/MadeleineHarbom">https://github.com/MadeleineHarbom</a>

</body>
</html>