{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static "index.css" %}">



</head>
<body>
<marquee behavior="scroll" direction="left"> FRONT-END WEB DEVELOPER WITH AN EYE FOR SLEEK DESIGN LOOKING FOR WORK</marquee>

<table>
    <tr>
        <td>
            <div class="container">
            <a href="/comic/0"><img src="{% static '1.jpg' %}"></a>
            </div>
        </td>
        <td>
            <div class="container">
            <a href="/comic/1"><img src="{% static '2.jpg' %}"></a>
            </div>
        </td>
        <td>
            <div class="container">
            <a href="/comic/2"><img src="{% static '3.jpg' %}"></a>
            </div>

        </td>
        <td>
            <div class="container">
            <a href="/comic/3"><img src="{% static '4.jpg' %}"></a>
            </div>
        </td>
    </tr>
        <tr>

        <td>
            <div class="container">
            <a href="/comic/4"><img src="{% static '5.jpg' %}"></a>
            </div>
        </td>
        <td>
            <div class="container">
            <a href="/comic/5"><img src="{% static '6.jpg' %}"></a>
            </div>
        </td>
            <td>
            <div class="container">
            <a href="/comic/6"><img src="{% static '7.jpg' %}"></a>
            </div>
        </td>
    </tr>
</table>





<div>The comics are drawn with love, respect and admiration for xkcd.com</div>

<div>The site it made without love or respect for anything
</div>
</body>
<script src="{% static "index.js" %}"></script>
</html>
