{% load static %}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "index.css" %}">
</head>
<body>
<div class="jumbotron">
<div class="login" >
    {% if user.is_authenticated %}

            <a href="/logout">Log out</a>
    {% else %}
        <a href="/signup">Sign Up</a>
        <a href="/login">Log in</a>
    {% endif %}
</div>

  <h1 class="display-4">Byte sized doodles</h1>
  <p class="lead">The tapas of geeky amateur comics</p>
    {% if user.is_authenticated %}
    Hello {{ user.username }}
    {% endif %}


</div>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallery-outer">
            <div class="thumbnail">
                <a href="/comic/0"><img src="{% static '1.jpg' %}" class="pic"></a>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallery-outer">
            <div class="thumbnail">
                <a href="/comic/1"><img src="{% static '2.jpg' %}" class="pic"></a>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallery-outer">
            <div class="thumbnail">
                <a href="/comic/2"><img src="{% static '3.jpg' %}" class="pic"></a>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallery-outer">
            <div class="thumbnail">
                <a href="/comic/3"><img src="{% static '4.jpg' %}" class="pic"></a>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallery-outer">
            <div class="thumbnail">
                <a href="/comic/4"><img src="{% static '5.jpg' %}" class="pic"></a>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallery-outer">
            <div class="thumbnail">
                <a href="/comic/5"><img src="{% static '6.jpg' %}" class="pic"></a>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallery-outer">
            <div class="thumbnail">
                <a href="/comic/6"><img src="{% static '7.jpg' %}" class="pic"></a>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallery-outer">
            <div class="thumbnail">
                <a href="/comic/7"><img src="{% static '8.jpg' %}" class="pic"></a>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallery-outer">
            <div class="thumbnail">
                <a href="/comic/8"><img src="{% static '9.jpg' %}" class="pic"></a>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallery-outer">
            <div class="thumbnail">
                <a href="/comic/9"><img src="{% static '10.jpg' %}" class="pic"></a>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallery-outer">
            <div class="thumbnail">
                <a href="/comic/10"><img src="{% static '11.jpg' %}" class="pic"></a>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallery-outer">
            <div class="thumbnail">
                <a href="/comic/11"><img src="{% static '12.jpg' %}" class="pic"></a>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallery-outer">
            <div class="thumbnail">
                <a href="/comic/12"><img src="{% static '13.jpg' %}" class="pic"></a>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallery-outer">
            <div class="thumbnail">
                <a href="/comic/13"><img src="{% static '14.jpg' %}" class="pic"></a>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallery-outer">
            <div class="thumbnail">
                <a href="/comic/14"><img src="{% static '15.jpg' %}" class="pic"></a>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallery-outer">
            <div class="thumbnail">
                <a href="/comic/15"><img src="{% static '16.jpg' %}" class="pic"></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gallery-outer">
            <div class="thumbnail">
                <a href="/comic/16"><img src="{% static '17.jpg' %}" class="pic"></a>
            </div>
        </div>
    </div>
    <div>The comics are drawn with love, respect and admiration for xkcd.com</div>
    </div>




<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
<script src="{% static "index.js" %}"></script>
</html>
