{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TypeScript</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "freetrailer.css" %}">

  </head>
  <body>
	<script src="index.js"></script>
  <table>
    <thead>
        <tr>
            <th>Topic</th>
            <th>Java Script</th>
            <th>Typescript</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Types</td>
            <td>Anarchy</td>
            <td>Staticly typed
              Types must be declared
              Checked compile time (well, actually, it’s called transpilation, but lets leave that fly with its virginity intact)</td>
        </tr>
        <tr>
            <td>Comparitors (Row written 100% by Made with bias)</td>
            <td>==</td>
            <td>===</td>
        </tr>
        <tr>
            <td>Compilation</td>
            <td>Run time in Browser
              Service side with node</td>
            <td>Transpiled
      
              <p class="comment">Which javascript version to we transpile to</p></td>
        </tr>



        <tr>
          <td>Syntax</td>
          <td>ECMAScript standard</td>
          <td>Interface
            Enums
            GEnerics
            Type Annotations
            Access Modifiers (public, private, protected)</td>
      </tr>
      <tr>
        <td>Error Handling</td>
        <td>Errors are typically found during runtime, making testing crucial to catch type-related bugs.</td>
        <td>Errors related to types are detected during compilation, reducing the likelihood of runtime issues.</td>
    </tr>
    <tr>
      <td>Barrier of entry</td>
      <td>Sit down and type
      </td>
      <td>Needs understanding of more structured coding styles</td>
  </tr>
  <tr>
    <td>Rubustness</td>
    <td class="comment">Lul, wut?</td>
    <td>Easier or debug and read
      The IDE will come with warnings</td>
</tr>
<tr>
  <td>Code standards</td>
  <td>ECMA-262
    https://ecma-international.org/publications-and-standards/standards/ecma-262/</td>
  <td>Not documented in the same extent.
    Defined my the strict config
    https://medium.com/@eshagarg1996/best-practices-for-typescript-coding-8b1ea98d02f8</td>
</tr>
<tr>
  <td>Anonymous types and objects</td>
  <td class="comment">Hell yeah, baby</td>
  <td>Though anonymous types and objects are allowed, as long as the compiler can derive what types the variables are, it is not wise to use when an object or type it used outside of that explicit context. An return object of an exported function should have a type</td>
</tr>
<tr>
  <td>Casting</td>
  <td>Why bother, JS doesnt care anyway. Dont even know if you CAN type in pure javascript</td>
  <td><p class="comment">How bour nah</p>Casting is always tricky. If done a adapter class or method can be utilized.</td>
</tr>
<tr>
  <td>Object methods
    Constructor methods</td>
  <td class="comment">Hold my beer while I filter this integer on its mothers maiden name</td>
  <td>No robust of adviacble, and could be done on other more type-safe ways</td>
</tr>
<tr>
  <td>Commmunity</td>
  <td>The defacto language for client side web since mid 90s.
    Since node / npm (2010ish) it has also been used service side. Everyone knows javascript, and could probably ask their grandmother for a code review</td>
  <td>Growing and active.
    Compared to the JS community, the TS community is more on the larger scale side of things.</td>
</tr>
<tr>
  <td>Integration and libraries</td>
  <td>Splendid.
    If typescript has it, javascript has it.</td>
  <td></td>
</tr>
<tr>
  <td>React compatibility</td>
  <td>SReact is build in JS and fully compatible.
    Components can get messy to manage in larger applications.
    Props exist in a library and is checked runtime, but not as extensively as typescript.</td>
  <td>Robus support.
    In react, as everywhere else, IDE support and autocompletion is enhanced by typescript, making it safer and easier.
    Easeur to make, maintain and reuse components.
    Props in typescript are prettier and more easy to read.</td>
</tr>

<tr>
  <td>Dependency injection</td>
  <td>Available</td>
  <td>Same availability, just safes and easier to manage due to the general concept of typescript.</td>
</tr>
    </tbody>
</table>
<p>NOTE: You can aim for strict typescript while still having strict to false. Using strict typescript here would take months to rewrite, and a very long time to get to while passively aiming for it. But that does not mean you should not aim for it.</p>
  </body>
  <h3>Style</h3>
  <table>
    <thead>
      <tr>
          <th>Religion</th>
          <th>Concept</th>
          <th>Pros</th>
          <th>Cons</th>
          <th>Alternatives</th>
      </tr>
  </thead>
    <tbody>
      <tr>
        <td>Orthodox Object Oriented</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Secular Object Oriented</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>BFF</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>REST</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>graphQL</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

    </tbody>
  </table>

  <h3>Security and Authentication</h3>
  <table>
    <thead>
      <tr>
          <th>Religion</th>
          <th>Concept</th>
          <th>Pros</th>
          <th>Cons</th>
          <th>Alternatives</th>
      </tr>
  </thead>
    <tbody>
      <tr>
        <td>Object Oriented</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>BFF</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>REST</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>graphQL</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

    </tbody>
  </table>
</html>
